@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-container-1 {
    @apply px-8
}

.Title-div {
    @apply mb-12 mx-auto text-4xl font-bold text-center
}


.formlabile {
    @apply block mb-2
}

.footer-input {
    @apply w-full p-2 rounded bg-[#FFEA00]/20 border border-black focus:outline-none focus:border-white
}

.button-all {
    @apply bg-[#FFEA00] font-bold md:inline transform transition-transform duration-300 hover:scale-110 py-2 px-4 rounded-full
}

.txt-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.foot-cont {
    @apply list-none text-[14px] text-gray-500
}

html{
    scroll-behavior: smooth;
}
