@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    @apply flex justify-center md:justify-between items-center py-2
}

.navbar-head {
    @apply space-x-4 font-bold md:space-x-6
}

.top-container {
    @apply bg-amber-300 text-white px-8 md:px-16 lg:px-24
}



.top-container-1 {
    @apply mt-10 overflow-hidden px-8 md:px-16 lg:px-24 mb-20
}

.proj-div {
    @apply px-6 pb-6 rounded-lg hover:shadow-lg transform transition-transform duration-500 hover:scale-110 cursor-pointer
}

.projectslide-img {
    @apply h-[100px] w-[200px]
}

.Title-div {
    @apply mb-12 mx-auto text-4xl font-bold text-center
}



.container-serv {
    @apply mx-auto px-10 md:px-20
}

.margin-r {
    @apply mr-2
}

.formlabile {
    @apply block mb-2
}

.top-conta {
    @apply py-10
}

.contact-des {
    @apply mb-4 mt-8
}

.contact-des1 {
    @apply mb-4
}

.contact-container {
    @apply mx-auto px-8 md:px-16 lg:px-24
}

.footer-input {
    @apply w-full p-2 rounded bg-[#FFEA00]/20 border border-black focus:outline-none focus:border-white
}

.cont-titl-2 {
    @apply flex flex-col md:flex-row items-center md:space-x-12 w-full
}

.button-all {
    @apply bg-[#FFEA00] font-bold text-white md:inline transform transition-transform duration-300 hover:scale-110 py-2 px-4 rounded-full
}


.para {
    @apply mt-5
}

.texth {
    @apply mt-7
}

.btn {
    @apply bg-[#FFF200] mt-5 font-bold md:inline transform transition-transform duration-300 hover:scale-110 py-2 px-4 rounded-full
}

.header {
    @apply h-16 flex justify-center items-center w-full px-3
}

.txt-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.copy {
    @apply text-gray-400 text-center
}

.copy-icon {
    @apply pb-5 pr-10
}

.foot-cont {
    @apply list-none text-[14px] text-gray-500
}

.footwe-div {
    @apply grid lg:grid-cols-4 gap-20 md:grid-cols-4 grid-cols-2 px-8 md:px-16 lg:px-24 mb-6
}

.p {
    @apply py-8 px-6;
}

.slid {
    @apply mt-8 mb-8
}